* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f7f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1160px;
}

header {
  padding: 20px 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #ff6600;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #ff6600;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 650px;
  width: 100%;
}

.search-bar input {
  padding: 15px 20px;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
}

.search-btn {
  background-color: #ff7043;
  border: none;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  display: flex;
  position: absolute;
  right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification,
.messages {
  font-size: 20px;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.user-profile span {
  font-weight: bold;
}

.user-profile p {
  color: #888;
  font-size: 12px;
  margin-top: -5px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navbar1 {
  display: flex;

  padding-top: 10px;
}
.navbar1 a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
}
.navbar1 a:hover {
  color: #f27025;
}
.navbar1 a.active {
  color: #f27025;
}
.navbar1 a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f27025;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-content {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.certificate-banner {
  background-color: #ff8566;
  padding: 40px 90px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certificate-banner h1 {
  font-family: Georgia;
  font-size: 40px;
  font-weight: 700;
  line-height: 45.49px;
  letter-spacing: 0.03em;
  text-align: left;

  margin-bottom: 20px;
}

.certificate-banner p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.38px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 100%;
  max-width: 600px;
}

.certificate-banner img {
  width: 200px;
  margin-top: 20px;
}
.in-progress-section {
  width: 100%;
  margin: 50px auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.29px;
  letter-spacing: 0.03em;
  text-align: left;
}

.section-header a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.courses {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.course-card {
  display: flex;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card img {
  width: 160px;
  border-radius: 8px;
  margin-right: 20px;
}

.course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-meta {
  color: #888;
  font-size: 14px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.progress-bar {
  background-color: #ff6600;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 0px;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress {
  height: 5px;
  background-color: #eee;
  width: 100%;
}
.progress-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}
.progress-info1 {
  color: #888;
}

.popular-certificates-section {
  width: 100%;
  margin: 50px auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.section-header a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.certificates {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.certificate-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.certificate-card img {
  width: 100%;
  height: auto;
}

.certificate-info {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.certificate-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  text-align: start;
}

.certificate-author {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

.certificate-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.footer {
  background-color: #f77961;
  color: white;
  padding: 40px 20px;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-container1 {
  display: flex;
}
.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}
.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 12px 0;
}
.footer-column ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.footer-column ul li a:hover {
  text-decoration: underline;
}
.footer-column ul li {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer-subscribe {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}
.footer-subscribe h3 {
  margin-bottom: 15px;
  font-family: Inria Serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer-subscribe p {
  margin-bottom: 15px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-subscribe input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
}
.footer-subscribe button {
  background-color: #ff8c66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border: 2px solid black;
}
.footer-subscribe button:hover {
  background-color: #e67354;
}
.footer-bottom {
  text-align: left;
  margin-top: 30px;
  font-size: 12px;
  max-width: 1200px;
  margin: 50px auto 30px;
}
.footer-bottom a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-button {
  display: flex;
  position: relative;
}
/* For the section */
.what-you-will-learn {
  padding: 20px;
}

.what-you-will-learn h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.learning-points {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.point {
  flex: 1;
}

.point p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
/* Style for the button */
.enroll-btn {
  background-color: #ff7f00; /* Orange background */
  color: black; /* Black text */
  width: 100%; /* Make the button full-width to match the container */
  height: 56px; /* Set height */
  border-radius: 28px; /* Rounded corners */
  border: none; /* Remove default border */
  font-size: 16px; /* Font size for text */
  cursor: pointer; /* Pointer on hover */
  margin-top: 10px; /* Adds some space above the button */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}


.course-details {
  padding: 10px;
  text-align: center;
}
.flex-container {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  gap: 10px; 
  background-color: white; 
  border: 2px solid black; 
  padding: 10px;
  color: black; 
  border-radius: 10px; 
}

.flex-container p {
  margin: 0; 
}

